# Manejo y Visualización de Datos con Python

Para este trabajo se utilizo

 - **pandas**: Un módulo que proporciona estructuras de datos y herramientas de análisis de datos de alto rendimiento y fácil de usar.

## pandas

pandas es un paquete de Python que proporciona estructuras de datos rápidas, flexibles y expresivas diseñadas para trabajar con datos relacionales o etiquetados. Es un componente fundamental de alto nivel para hacer un análisis práctico y real de datos en Python.

In [1]:
import pandas as pd

Los datos que trabajaremos son del sitio web climáticos NOAA

In [2]:
# direccion donde se encuetra los datos
data_dir = './assets/datosPobreza.csv'

¿Cómo hacemos para que este conjunto de datos se convierta en una estructura de datos pandas?
pandas hace que sea muy fácil importar datos en varios formatos con su conjunto de funciones de importación:

In [4]:
# esta es un arreglo comprimido que contiene formatos que puede leer pandas
[formatos for formatos in dir(pd) if formatos.startswith('read_')]

['read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table']

Nuestro conjunto de datos está delimitado por comas, por lo que usaremos `read_csv`. Afortunadamente, podemos importar los datos directamente desde su URL, en lugar de tener que guardarlos en un disco local.

In [12]:
# guardamos nuestra tabla en una variable data, despues de haver sido leida por pandas
data = pd.read_csv(
    data_dir, # direccion donde esta nuestra data, usamos la vaiable que contiene la direccion
    sep=';' # separador de datos para ser leidos por pandas
)

`read_csv` devuelve un `DataFrame`, una estructura tabular de datos proporcionada por pandas.

In [14]:
type(data)

pandas.core.frame.DataFrame

Un `DataFrame` está dotado de varios atributos y métodos útiles para explorar los datos.

In [17]:
data # nos debuelve toda nuestra tabla

,Período,Años,Quito,Quito.1,Quito.2,Guayaquil,Guayaquil.1,Guayaquil.2,Cuenca,Cuenca.1,Cuenca.2,Machala,Machala.1,Machala.2,Ambato,Ambato.1,Ambato.2
0,NaN,NaN,Incidencia,Brecha,Severidad,Incidencia,Brecha,Severidad,Incidencia,Brecha,Severidad,Incidencia,Brecha,Severidad,Incidencia,Brecha,Severidad
1,Marzo,2008.0,"10,45","3,32","1,76","22,06","6,38","2,87","11,68","3,74","1,88","20,76","6,43","2,82","21,2","6,38","3,11"
2,Marzo,2009.0,"11,16","3,71","1,97","24,28","7,5","3,26","10,91","3,31","1,51","20,76","6,32","2,94","17,55","5,81","2,99"
3,Marzo,2010.0,"13,01","4,34","2,31","20,8","5,82","2,37","13,78","3,8","1,6","15,54","4,2","1,77","11,63","3,47","1,47"
4,Marzo,2011.0,"10,33","3,34","1,81","19,21","4,99","1,99","12,39","4,13","2,2","14,76","4,07","1,62","10,58","2,68","1,02"
5,Marzo,2012.0,"8,97","3,29","1,59","11,04","2,75","1,04","9,72","2,92","1,33","9,51","1,91","0,62","8,04","1,97","0,76"
6,Marzo,2013.0,"10,85","3,48","1,56","12,77","3,58","1,6","9,17","2,47","1,01","11,98","2,48","0,76","10,54","3,71","2,01"
7,Marzo,2014.0,"8,92","2,78","1,39","11,69","3,07","1,2","4,67","1,65","0,87","13,71","3,84","1,54","12,81","3,15","1,31"
8,Marzo,2015.0,"7,87","2,59","1,3","7,69","1,84","0,68","5,32","1,24","0,49","15,09","4,2","1,81","8,42","2,9","1,24"
9,Marzo,2016.0,"7,98","2,63","1,34","8,67","2,52","0,97","7,83","2,55","1,17","13,77","3,88","1,76","7,77","2,49","1,23"
10,Marzo,2017.0,"7,35","2,4","1,23","10,98","2,67","1,11","7,85","2,89","1,54","16,76","4,51","1,98","9,74","3,06","1,64"
11,Junio,2007.0,"11,13","3,62","1,77","18,9","3,38","3,14","12,75","4,73","2,5","22,78","7,51","3,75","14,23","4,62","2,25"
12,Junio,2008.0,"8,52","2,28","0,94","10,96","5,43","2,29","7,88","2,79","1,38","19,56","4,71","1,91","14,82","4,8","2,15"
13,Junio,2009.0,"10,89","3,71","1,82","17,29","5,03","2,22","11,19","3,41","1,52","20,14","5,75","2,51","13,32","3,71","1,53"
14,Junio,2010.0,"13,84","4,42","2,21","21,79","6,87","3,13","10,65","3,6","1,79","17,34","6,41","3,13","13,63","4,07","1,92"
15,Junio,2011.0,"9,01","2,72","1,17","15,59","3,97","1,57","11,75","3,15","1,45","11,78","3,65","1,57","12,83","3,43","1,55"
16,Junio,2012.0,"7,85","2,46","1,18","10,04","2,26","0,79","7,06","1,92","0,74","10,42","2,08","0,7","10,93","2,75","1,15"
17,Junio,2013.0,"8,35","2,34","1,18","13,75","3,73","1,57","6,01","1,95","0,85","11,97","3,7","1,71","10,54","3,72","1,83"
18,Junio,2014.0,"7,32","2,21","0,96","12,6","2,85","1,08","5,86","1,33","0,45","14,15","3,82","1,53","7,85","2,54","1,15"
19,Junio,2015.0,"6,16","1,78","0,82","9,74","2,27","0,77","5,57","1,3","0,53","9,85","2,62","1,09","7,92","2,31","1,01"
20,Junio,2016.0,"7,86","2,19","1,01","8,53","2,2","0,86","7,64","1,96","0,69","10,1","2,5","0,97","9,84","3,4","1,63"
21,Junio,2017.0,"7,76","2,21","0,95","10,5","2,46",1,"7,84","2,06","0,88","14,4","3,58","1,32","10,24","3,64","1,77"
22,Septiembre,2007.0,"9,96","3,2","1,62","18,64","5,43","2,34","13,15","4,2","1,94","22,75","7,54","3,59","15,14","4,63","1,95"
23,Septiembre,2008.0,"8,7","2,48","1,04","13,79","4,31","1,86","11,09","4,01","2,06","17,78","4,16","1,48","19,65","5,74","2,6"
24,Septiembre,2009.0,"13,8","4,42","2,2","18,53","4,87","1,89","11,24","3,87","1,94","19,48","6,02","2,63","14,41","4,21","1,83"
25,Septiembre,2010.0,"11,46","4,02","2,22","18,28","4,55","1,72","9,35","2,49","1,12","17,34","5,35","2,28","14,56",4,"1,87"
26,Septiembre,2011.0,"9,64","3,2","1,58","11,11","2,6","1,03","7,99","2,35","1,04","11,78","2,85","1,01","8,93","2,63","1,1"
27,Septiembre,2012.0,"6,26","1,52","0,6","12,48","3,85","1,85","7,65","2,09","0,8","10,42","1,93","0,6","5,78","1,98","0,89"
28,Septiembre,2013.0,"9,77","3,2","1,56","13,19","3,46","1,29","4,15","0,94","0,34","11,97","2,88","1,2","10,47","3,71","1,96"
29,Septiembre,2014.0,"7,07","2,24","1,14","11,17","2,59","1,05","5,02","1,53","0,66","12,88","3,11","1,25","8,49","2,79","1,43"
30,Septiembre,2015.0,"5,55","1,48","0,65","9,56","2,35","0,96","3,72","0,94","0,42","11,09","2,89","1,2","8,58","2,39","1,04"
31,Septiembre,2016.0,"9,44","3,27","1,66","9,71","2,11","0,82","9,71","3,48","1,61","14,95","3,78","1,38","12,58","4,18","2,14"
32,Diciembre,2007.0,"10,14","3,4","1,63","22,53","7,17","3,45","10,07","3,18","1,49","26,24","8,7","4,03","17,84","6,21","3,11"
33,Diciembre,2008.0,"9,99","3,18","1,52","13,1","3,57","1,44","8,11","2,38","1,01","17,68","5,02","2,02","13,58","3,34","1,41"
34,Diciembre,2009.0,"12,11","4,37","2,32","20,07","5,55","2,26","11,35","4,04","2,11","16,03","4,63","1,99","17,1","5,14","2,32"
35,Diciembre,2010.0,"10,54","3,79","1,88","20,08","5,11","1,89","9,72","2,83","1,22","21,99","6,86","3,08","14,89","4,31","1,86"
36,Diciembre,2011.0,"9,13","2,59","1,17","9,11","2,45","1,1","5,19","1,38","0,61","12,02","3,21","1,3","9,78","2,75","1,12"
37,Diciembre,2012.0,"7,95","2,63","1,41","7,21","1,82","0,67","10,08","2,26","0,87","9,5","1,76","0,54","8,03","2,06","0,86"
38,Diciembre,2013.0,"6,08","2,28","1,18","16,66","4,04","1,59","4,99","1,27","0,49","12,26","3,04","1,24","7,38","2,04","0,86"
39,Diciembre,2014.0,"7,53","2,1","1,03","12,71","3,16","1,19","7,82","2,47","1,17","11,87","3,36","1,45","7,3","2,55","1,25"
40,Diciembre,2015.0,"8,72","2,92","1,5","11,72","2,48","0,96","4,48","1,04","0,38","9,56","2,89","1,34","7,99","2,13","0,9"
41,Diciembre,2016.0,"10,19","3,67","2,07","12,48","3,5","1,49","7,48","2,11","0,86","11,56","3,03","1,34","12,3","4,34","2,23"

In [19]:
data.head()

,Período,Años,Quito,Quito.1,Quito.2,Guayaquil,Guayaquil.1,Guayaquil.2,Cuenca,Cuenca.1,Cuenca.2,Machala,Machala.1,Machala.2,Ambato,Ambato.1,Ambato.2
0,NaN,NaN,Incidencia,Brecha,Severidad,Incidencia,Brecha,Severidad,Incidencia,Brecha,Severidad,Incidencia,Brecha,Severidad,Incidencia,Brecha,Severidad
1,Marzo,2008.0,"10,45","3,32","1,76","22,06","6,38","2,87","11,68","3,74","1,88","20,76","6,43","2,82","21,2","6,38","3,11"
2,Marzo,2009.0,"11,16","3,71","1,97","24,28","7,5","3,26","10,91","3,31","1,51","20,76","6,32","2,94","17,55","5,81","2,99"
3,Marzo,2010.0,"13,01","4,34","2,31","20,8","5,82","2,37","13,78","3,8","1,6","15,54","4,2","1,77","11,63","3,47","1,47"
4,Marzo,2011.0,"10,33","3,34","1,81","19,21","4,99","1,99","12,39","4,13","2,2","14,76","4,07","1,62","10,58","2,68","1,02"

Con la funcion `head()` sobre nuestro `DataFrame` podemos mostrar los primeras filas de nuestra data, para no presentar todas las filas.

In [22]:
data.shape  # numeros de campos de nuestra data

(42, 17)

In [25]:
data.describe()

              Años
count    41.000000
mean   2011.878049
std       3.018237
min    2007.000000
25%    2009.000000
50%    2012.000000
75%    2014.000000
max    2017.000000

Un `DataFrame` se compone de dos componentes principales; 
 - Los datos mismos, que se pueden extraer a través del atributo de valores:

In [26]:
data.values

array([[nan, nan, 'Incidencia', 'Brecha', 'Severidad', 'Incidencia',
        'Brecha', 'Severidad', 'Incidencia', 'Brecha', 'Severidad',
        'Incidencia', 'Brecha', 'Severidad', 'Incidencia', 'Brecha',
        'Severidad'],
       ['Marzo', 2008.0, '10,45', '3,32', '1,76', '22,06', '6,38', '2,87',
        '11,68', '3,74', '1,88', '20,76', '6,43', '2,82', '21,2', '6,38',
        '3,11'],
       ['Marzo', 2009.0, '11,16', '3,71', '1,97', '24,28', '7,5', '3,26',
        '10,91', '3,31', '1,51', '20,76', '6,32', '2,94', '17,55', '5,81',
        '2,99'],
       ['Marzo', 2010.0, '13,01', '4,34', '2,31', '20,8', '5,82', '2,37',
        '13,78', '3,8', '1,6', '15,54', '4,2', '1,77', '11,63', '3,47',
        '1,47'],
       ['Marzo', 2011.0, '10,33', '3,34', '1,81', '19,21', '4,99', '1,99',
        '12,39', '4,13', '2,2', '14,76', '4,07', '1,62', '10,58', '2,68',
        '1,02'],
       ['Marzo', 2012.0, '8,97', '3,29', '1,59', '11,04', '2,75', '1,04',
        '9,72', '2,92', '1,33', '9,51', '1,91', '0,62', '8,04', '1,97',
        '0,76'],
       ['Marzo', 2013.0, '10,85', '3,48', '1,56', '12,77', '3,58', '1,6',
        '9,17', '2,47', '1,01', '11,98', '2,48', '0,76', '10,54', '3,71',
        '2,01'],
       ['Marzo', 2014.0, '8,92', '2,78', '1,39', '11,69', '3,07', '1,2',
        '4,67', '1,65', '0,87', '13,71', '3,84', '1,54', '12,81', '3,15',
        '1,31'],
       ['Marzo', 2015.0, '7,87', '2,59', '1,3', '7,69', '1,84', '0,68',
        '5,32', '1,24', '0,49', '15,09', '4,2', '1,81', '8,42', '2,9',
        '1,24'],
       ['Marzo', 2016.0, '7,98', '2,63', '1,34', '8,67', '2,52', '0,97',
        '7,83', '2,55', '1,17', '13,77', '3,88', '1,76', '7,77', '2,49',
        '1,23'],
       ['Marzo', 2017.0, '7,35', '2,4', '1,23', '10,98', '2,67', '1,11',
        '7,85', '2,89', '1,54', '16,76', '4,51', '1,98', '9,74', '3,06',
        '1,64'],
       ['Junio ', 2007.0, '11,13', '3,62', '1,77', '18,9', '3,38', '3,14',
        '12,75', '4,73', '2,5', '22,78', '7,51', '3,75', '14,23', '4,62',
        '2,25'],
       ['Junio ', 2008.0, '8,52', '2,28', '0,94', '10,96', '5,43', '2,29',
        '7,88', '2,79', '1,38', '19,56', '4,71', '1,91', '14,82', '4,8',
        '2,15'],
       ['Junio ', 2009.0, '10,89', '3,71', '1,82', '17,29', '5,03', '2,22',
        '11,19', '3,41', '1,52', '20,14', '5,75', '2,51', '13,32', '3,71',
        '1,53'],
       ['Junio ', 2010.0, '13,84', '4,42', '2,21', '21,79', '6,87', '3,13',
        '10,65', '3,6', '1,79', '17,34', '6,41', '3,13', '13,63', '4,07',
        '1,92'],
       ['Junio ', 2011.0, '9,01', '2,72', '1,17', '15,59', '3,97', '1,57',
        '11,75', '3,15', '1,45', '11,78', '3,65', '1,57', '12,83', '3,43',
        '1,55'],
       ['Junio ', 2012.0, '7,85', '2,46', '1,18', '10,04', '2,26', '0,79',
        '7,06', '1,92', '0,74', '10,42', '2,08', '0,7', '10,93', '2,75',
        '1,15'],
       ['Junio ', 2013.0, '8,35', '2,34', '1,18', '13,75', '3,73', '1,57',
        '6,01', '1,95', '0,85', '11,97', '3,7', '1,71', '10,54', '3,72',
        '1,83'],
       ['Junio ', 2014.0, '7,32', '2,21', '0,96', '12,6', '2,85', '1,08',
        '5,86', '1,33', '0,45', '14,15', '3,82', '1,53', '7,85', '2,54',
        '1,15'],
       ['Junio ', 2015.0, '6,16', '1,78', '0,82', '9,74', '2,27', '0,77',
        '5,57', '1,3', '0,53', '9,85', '2,62', '1,09', '7,92', '2,31',
        '1,01'],
       ['Junio ', 2016.0, '7,86', '2,19', '1,01', '8,53', '2,2', '0,86',
        '7,64', '1,96', '0,69', '10,1', '2,5', '0,97', '9,84', '3,4',
        '1,63'],
       ['Junio ', 2017.0, '7,76', '2,21', '0,95', '10,5', '2,46', '1',
        '7,84', '2,06', '0,88', '14,4', '3,58', '1,32', '10,24', '3,64',
        '1,77'],
       ['Septiembre ', 2007.0, '9,96', '3,2', '1,62', '18,64', '5,43',
        '2,34', '13,15', '4,2', '1,94', '22,75', '7,54', '3,59', '15,14',
        '4,63', '1,95'],
       ['Septiembre ', 2008.0, '8,7', '2,48', '1,04', '13,79', '4,31',
        '1,86', '11,09', '4,01', '2,06', '17,78', '4,16', '1,48', '19,65',
        '5,74', '2,6'],
       ['Septiembre ', 2009.0, '13,8', '4,42', '2,2', '18,53', '4,87',
        '1,89', '11,24', '3,87', '1,94', '19,48', '6,02', '2,63', '14,41',
        '4,21', '1,83'],
       ['Septiembre ', 2010.0, '11,46', '4,02', '2,22', '18,28', '4,55',
        '1,72', '9,35', '2,49', '1,12', '17,34', '5,35', '2,28', '14,56',
        '4', '1,87'],
       ['Septiembre ', 2011.0, '9,64', '3,2', '1,58', '11,11', '2,6',
        '1,03', '7,99', '2,35', '1,04', '11,78', '2,85', '1,01', '8,93',
        '2,63', '1,1'],
       ['Septiembre ', 2012.0, '6,26', '1,52', '0,6', '12,48', '3,85',
        '1,85', '7,65', '2,09', '0,8', '10,42', '1,93', '0,6', '5,78',
        '1,98', '0,89'],
       ['Septiembre ', 2013.0, '9,77', '3,2', '1,56', '13,19', '3,46',
        '1,29', '4,15', '0,94', '0,34', '11,97', '2,88', '1,2', '10,47',
        '3,71', '1,96'],
       ['Septiembre ', 2014.0, '7,07', '2,24', '1,14', '11,17', '2,59',
        '1,05', '5,02', '1,53', '0,66', '12,88', '3,11', '1,25', '8,49',
        '2,79', '1,43'],
       ['Septiembre ', 2015.0, '5,55', '1,48', '0,65', '9,56', '2,35',
        '0,96', '3,72', '0,94', '0,42', '11,09', '2,89', '1,2', '8,58',
        '2,39', '1,04'],
       ['Septiembre ', 2016.0, '9,44', '3,27', '1,66', '9,71', '2,11',
        '0,82', '9,71', '3,48', '1,61', '14,95', '3,78', '1,38', '12,58',
        '4,18', '2,14'],
       ['Diciembre', 2007.0, '10,14', '3,4', '1,63', '22,53', '7,17',
        '3,45', '10,07', '3,18', '1,49', '26,24', '8,7', '4,03', '17,84',
        '6,21', '3,11'],
       ['Diciembre', 2008.0, '9,99', '3,18', '1,52', '13,1', '3,57',
        '1,44', '8,11', '2,38', '1,01', '17,68', '5,02', '2,02', '13,58',
        '3,34', '1,41'],
       ['Diciembre', 2009.0, '12,11', '4,37', '2,32', '20,07', '5,55',
        '2,26', '11,35', '4,04', '2,11', '16,03', '4,63', '1,99', '17,1',
        '5,14', '2,32'],
       ['Diciembre', 2010.0, '10,54', '3,79', '1,88', '20,08', '5,11',
        '1,89', '9,72', '2,83', '1,22', '21,99', '6,86', '3,08', '14,89',
        '4,31', '1,86'],
       ['Diciembre', 2011.0, '9,13', '2,59', '1,17', '9,11', '2,45', '1,1',
        '5,19', '1,38', '0,61', '12,02', '3,21', '1,3', '9,78', '2,75',
        '1,12'],
       ['Diciembre', 2012.0, '7,95', '2,63', '1,41', '7,21', '1,82',
        '0,67', '10,08', '2,26', '0,87', '9,5', '1,76', '0,54', '8,03',
        '2,06', '0,86'],
       ['Diciembre', 2013.0, '6,08', '2,28', '1,18', '16,66', '4,04',
        '1,59', '4,99', '1,27', '0,49', '12,26', '3,04', '1,24', '7,38',
        '2,04', '0,86'],
       ['Diciembre', 2014.0, '7,53', '2,1', '1,03', '12,71', '3,16',
        '1,19', '7,82', '2,47', '1,17', '11,87', '3,36', '1,45', '7,3',
        '2,55', '1,25'],
       ['Diciembre', 2015.0, '8,72', '2,92', '1,5', '11,72', '2,48',
        '0,96', '4,48', '1,04', '0,38', '9,56', '2,89', '1,34', '7,99',
        '2,13', '0,9'],
       ['Diciembre', 2016.0, '10,19', '3,67', '2,07', '12,48', '3,5',
        '1,49', '7,48', '2,11', '0,86', '11,56', '3,03', '1,34', '12,3',
        '4,34', '2,23']], dtype=object)

 - Conjunto de índices, que son esencialmente etiquetas para las filas y columnas del DataFrame.

In [28]:
data.index

RangeIndex(start=0, stop=42, step=1)

In [29]:
data.columns

Index(['Período', 'Años', 'Quito', 'Quito.1', 'Quito.2', 'Guayaquil',
       'Guayaquil.1', 'Guayaquil.2', 'Cuenca', 'Cuenca.1', 'Cuenca.2',
       'Machala', 'Machala.1', 'Machala.2', 'Ambato', 'Ambato.1', 'Ambato.2'],
      dtype='object')

Pero, un `índice` es más que un conjunto de etiquetas. Es importante destacar que asegura la **alineación de datos** cuando se agregan datos o se combinan estructuras de datos.

De hecho, podemos especificar un índice más apropiado para nuestros datos. El campo Año aquí es un índice único para los valores de análisis correspondientes.

`set_index` nos permite convertir cualquier columna (o matriz externa) que elijamos en el índice de fila.

In [31]:
temp = data.set_index('Años')
temp.head()

,Período,Quito,Quito.1,Quito.2,Guayaquil,Guayaquil.1,Guayaquil.2,Cuenca,Cuenca.1,Cuenca.2,Machala,Machala.1,Machala.2,Ambato,Ambato.1,Ambato.2
Años,,,,,,,,,,,,,,,,
NaN,NaN,Incidencia,Brecha,Severidad,Incidencia,Brecha,Severidad,Incidencia,Brecha,Severidad,Incidencia,Brecha,Severidad,Incidencia,Brecha,Severidad
2008.0,Marzo,"10,45","3,32","1,76","22,06","6,38","2,87","11,68","3,74","1,88","20,76","6,43","2,82","21,2","6,38","3,11"
2009.0,Marzo,"11,16","3,71","1,97","24,28","7,5","3,26","10,91","3,31","1,51","20,76","6,32","2,94","17,55","5,81","2,99"
2010.0,Marzo,"13,01","4,34","2,31","20,8","5,82","2,37","13,78","3,8","1,6","15,54","4,2","1,77","11,63","3,47","1,47"
2011.0,Marzo,"10,33","3,34","1,81","19,21","4,99","1,99","12,39","4,13","2,2","14,76","4,07","1,62","10,58","2,68","1,02"

 ## Trazado en Python
 
 - **Bokeh**: Es una biblioteca de visualización interactiva de Python con gráficos novedosos.

Al usar la interfaz bokeh.plotting, necesitamos importar:

 - Use la función de `figure` para crear nuevos objetos de trazado para trabajar.
 - Llame a las funciones `output_file`, `output_notebook` para indicar a Bokeh cómo mostrar el resultado.
 - Ejecute `show` y `save`  para mostrar o guardar gráficas y diseños

In [ ]:
from bokeh.io import show
from bokeh.plotting import figure

En este caso, estamos en `jupyter notebook`, así que llame a `output_notebook()`. Solo debemos llamar esto una vez, y todas las llamadas subsecuentes para mostrar () se mostrarán en línea en el cuaderno.

In [ ]:
from bokeh.io import output_notebook

In [ ]:
output_notebook()

## Graficos basicos

In [ ]:
# creamos un nuevo grafico con valores por defecto
p = figure(
    plot_width=800, # ancho de nuestra grafica
    plot_height=200, # el alto de nuestra grafica
    tools='' # para que no se muestren las opciones al costado de nuestra grafica
)

# le decimos a nuestra grafica que va a ser circulos y le pasamos la data que queremos graficar
p.circle(
    x=raw_data.Year, y=raw_data.Value, # relacion datos x e y 
    size=10, # tamaño de los circulos
    fill_color="blue" # color
)

show(p) # mostramos nuestra grafica